// custom

$border-radius: 10px;

$base-font-size:   16px !default;
$base-font-weight: 400 !default;

$site-header-font-size: 18px;

$win31-background: #202020;
$win31-border-light: #606060;
$win31-border-dark: #000000;
$win31-header-color: #004080;
$win31-header-text: #fafafa;
$win31-body-text: #fafafa;